## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Vaini,TO,75.36,broken clouds,-21.20,-175.20,Keleti Beach Resort
1,3,Lamu,KE,77.22,scattered clouds,-2.27,40.90,Lamu House
2,4,Maumere,ID,78.51,overcast clouds,-8.62,122.21,Sylvia Hotel
3,8,Ardakan,IR,88.77,clear sky,32.31,54.02,Ardakan Hotel
4,10,Port Hawkesbury,CA,73.90,clear sky,45.62,-61.35,MacKenzie House Tourist Home B&B

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.columns

Index(['City_ID', 'City', 'Country', 'Max Temp', 'Current Description', 'Lat',
       'Lng', 'Hotel Name'],
      dtype='object')

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Itarema")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Itarema")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Trairi")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Caucaia")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Touros")]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start[0],end[0], waypoints =[stop1[0],stop2[0],stop3[0]], travel_mode="DRIVING")
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,335,Itarema,BR,81.43,overcast clouds,-2.92,-39.92,"Sea Lounge! Bar, Club & Restaurant"
1,445,Trairi,BR,80.80,overcast clouds,-3.28,-39.27,janelas do mar
2,434,Caucaia,BR,85.95,few clouds,-3.74,-38.65,M.O.S. Logística - Filial Fortaleza
3,352,Touros,BR,80.89,broken clouds,-5.20,-35.46,INN NEW HORIZON

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt<dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))